@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.maxsize {
    width: 200px;
    height: 220px;
}


/*Pagination Override*/

.pagination>li>a {
    background-color: #343a40;
    color: #ffc107;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a {
    color: white;
    background-color: #ffc107 !Important;
    border: solid 1px #ffc107 !Important;
}

.pagination>.active>a:hover {
    background-color: #ffc107 !Important;
    border: solid 1px #ffc107;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.back_image {
    background-image: url("../img/bckimg.jpg");
    background-position: left;
    background-size: contain;
}

.link-menu {
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
}

.link-menu:hover {
    background-color: #ffc107;
    color: #343a40;
    border-radius: 5px;
}

#logo {
    width: 50px;
    border: 3px solid #343a40;
}

.nav-men {
    background-color: #ffc107;
}

.nav-men:hover {
    color: #ffc107;
}

.shadowcard {
    box-shadow: 5px 10px 18px #111111;
}

.shadowed {
    box-shadow: 5px 10px 18px #111111;
}

.cardimg {
    align-self: center;
    padding-top: 16px;
    width: 80%;
    height: 60%;
}

.galleryimg {
    align-self: center;
    width: 80%;
    height: 100%;
}

.cornice {
    padding-top: 2%;
    padding-bottom: 2%;
}


/* Menu Section */

.page-title {
    border-bottom: 3px solid #343a40;
    margin-bottom: 36px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu-block {
    margin-bottom: 30px;
}

.menu-title {
    text-align: center;
    border-bottom: 3px solid #343a40;
    margin-bottom: 36px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu-content {
    border-bottom: 1px solid #343a40;
    margin-bottom: 30px;
}

.menu-section {
    margin-left: 20px;
    padding-left: 15px;
}

.dish-content {
    margin-top: 12px;
    margin-bottom: 40px;
}

.dish-element {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    width: 210px;
    /* line-height: 1.7; */
}

.dish-title {
    margin-bottom: 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.dish-price {
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
}


/*Restaurants Section*/

.article_title {
    border-bottom: 3px solid #343a40;
    margin-bottom: 36px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.article_cont {}