@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.back_image{
    background-image: url("../img/bckimg.jpg");
}

.link-menu {
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
  }

.link-menu:hover {
  background-color: #ffc107;
  color: #343a40;
 
  border-radius: 5px;
}
#logo{
   width: 50px;
   border: 3px solid #343a40;
}
